<div ng-show="show">
	Theater<input ng-model="theater">
	City<input ng-model="city">
	State<input ng-model="state">
	Website<input ng-model="website">
	Customer ID #<input ng-model="customerId">
	Homepage URL<input ng-model="homePageUrl">
	About URL<input ng-model="aboutUrl">
	Directions URL<input ng-model="directionsUrl">
	Buy Tickets URI<input ng-model="buyTicketsUri">
	Address of Theater<input ng-model="addressOfTheater">
	Conversion URL<input ng-model="conversionUrl">
	Conversion Value<input ng-model="conversionValue">

	<button ng-click="mainAccountActions()">Do It!</button>
	<button ng-click="startOver()">Logged into the wrong account? Try again.</button>
</div>

<div ng-show="show1">
	<p>Wait...</p>
</div>

<div ng-show="show2">
	<button ng-click="secondLogIn()">Log Into Client Account</button>
</div>