<div ng-show="show">
	<input ng-hide="linking" ng-model="templateId" placeholder="Template ID if not using the main template">
	<input ng-hide="linking" ng-model="theater" placeholder="Theater">
	<input ng-hide="linking" ng-model="city" placeholder="City">
	<input ng-hide="linking" ng-model="state" placeholder="State">
	<input ng-model="customerId" placeholder="Customer ID with no dashes">
	<input ng-hide="linking" ng-model="website" placeholder="Website">
	<input ng-hide="linking" ng-model="homePageUrl" placeholder="Homepage URL">
	<input ng-hide="linking" ng-model="aboutUrl" placeholder="About URL">
	<input ng-hide="linking" ng-model="directionsUrl" placeholder="Directions URL">
	<input ng-hide="linking" ng-model="buyTicketsUri" placeholder="Buy Tickets URL">
	<input ng-hide="linking" ng-model="conversionUrl" placeholder="External Ticketing URL">
	<input ng-hide="linking" ng-model="addressOfTheater" placeholder="Address of Theater">
	<input ng-hide="linking" ng-model="conversionValue" placeholder="Avg. Ticket Price">

	<section ng-hide="linking" ng-click="mainAccountActions()">Do It!</section>
	<section ng-hide="linking" ng-click="getCustomerId()">Just Linking accounts?</section>
	<section ng-show="linking" ng-click="relink()">Send Link</section>
</div>

<div  ng-show="show1">
	<img id="wait" src="./img/wait.gif">
</div>

<section ng-click="startOver()">Start Over</section>

<div ng-show="show2">
	<section ng-click="secondLogIn()">Log Into Client Account</section>
</div>

