<div ng-show="show">
	<img id="wait" src="./img/wait.gif">
</div>

<div ng-hide="show">
	Now you must:
	<br>
	<br>
	1. Download the account spreadsheets as a .CSV file by clicking the download button(s)
	<br>
	2. Upload the .CSV file to adwords using the Adwords Manager UI.
	<br>
	3. Import Google analytics conversion goal by entering Adwords UI, clicking on "Tools">Conversions, selecting the Google Analytics tab on the left hand side, select all goals, and click Import.
	<br>
	4. Click the Start Over button!
	<button ng-click="downloadCsvs()">Download</button>
</div>
<button ng-click="startOver()">Start Over</button>
	<section></section>