<div id="enterTemplate">
	<h1>Enter Template ID of Custom Template. If You Are Not Using a Custom Template Please Click Back Now.</h1>
	<p>Template ID can be found in URL of the template spreadsheet.</p>
	<p>In this example URL the emphasised section is the ID</p>
	<p>https://docs.google.com/spreadsheets/d/<bold>1jPqDJz0z3oDJc8KolwwT8uzOdAL_j0X8o9-ua0eH8bU</bold>/edit#gid=2019803635</p>
	<input ng-model="templateId" type="text" placeholder="Paste ID from URL here">
	<section ng-click="toTheater()">Next</section>
</div>